---
import { siteMetadata } from "../data/site";
---

<footer class="site-footer">
	<p>
		日本語ドキュメントサイトです。一次情報は
		<a href={siteMetadata.upstreamRepositoryUrl}>awslabs/aidlc-workflows</a>
		を参照してください。
	</p>
</footer>
