<div class="docs-search" data-search-root>
	<button
		class="docs-search__trigger"
		type="button"
		data-search-open
		aria-haspopup="dialog"
		aria-expanded="false"
		aria-controls="docs-search-dialog"
	>
		検索を開く
	</button>
	<dialog
		id="docs-search-dialog"
		class="docs-search__dialog"
		data-search-dialog
		aria-label="サイト内検索"
	>
		<div class="docs-search__header">
			<label class="docs-search__label" for="docs-search-input">
				サイト内検索キーワード
			</label>
			<button
				class="docs-search__close"
				type="button"
				data-search-close
				aria-label="検索を閉じる"
			>
				閉じる
			</button>
		</div>
		<input
			id="docs-search-input"
			class="docs-search__input"
			type="search"
			name="search"
			placeholder="キーワードを入力"
			autocomplete="off"
			data-search-input
		/>
		<p class="docs-search__status" data-search-status>
			キーワードを入力してください。
		</p>
		<ul class="docs-search__results" data-search-results></ul>
	</dialog>
</div>

<script>
	import "../scripts/search.ts";
</script>
